{
  "semi": false,
  "printWidth": 110,
  "quoteProps": "consistent",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "singleAttributePerLine": true
}
